*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



  body {
    background-color: #ffffff;
    font-family:
      "Montserrat",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    color: #000000;
  }

/* DARK MODE */

/*Header dark mode*/

body.dark {
  background-color: #1b0223;
  color: #ffffff;
}

body.dark .main-header,
body.dark .main-footer {
  background-color: #26182b;
  border: #26182b;
}

body.dark .logo {
  border-color: #562D8F;
}

body.dark .logo span {
  color: #8f70d3;
}

body.dark .main-nav {
  color: #f6fbfa;
}

body.dark .nav-link {
  color: #fbf6f6;
}

body.dark .nav-link:hover,
body.dark .nav-link.active {
  color: #8f70d3;
}

body.dark .user-actions {
  color: #fbf6f6;
}

body.dark .search-bar {
  background-color: #1e1e1e;
  border: 1px solid #444;
  color: #fff;
}

body.dark .search-input {
  color: #fff;
}

body.dark button .fa-solid {
  color: #cccccc;
}

body.dark .language-selector {
  color: #cccccc;
}

body.dark .btn {
  color: #ffffff;
}

body.dark .btn-outline {
  border-color: #8f70d3;
  color: #8f70d3;
}

body.dark .btn:hover {
  background: #8f70d3;
  color: #ffffff;
}
/* end header */

body.dark .content {
  background-color: #2a2a2a;
  color: #eee;
}

body.dark .divider {
  border-color: #444;
  opacity: 0.7;
}

body.dark .title-rating-container .rating-value,
body.dark .detail-title {
  color: #c6a3ff;
}

body.dark .detail-trailer-container {
  background-color: transparent;
}

body.dark .detail-container,
body.dark .detail-categories,
body.dark .plot {
  color: #ddd;
}

body.dark .trailer {
  border: 1px solid #444;
}

/* Characters */

body.dark .info-title {
  color: #c6a3ff;
}

body.dark .character-element {
  color: #eee;
}

/* Reviews */

body.dark .review-form {
  background-color: transparent;
}

body.dark .label-title,
body.dark .label-review {
  color: #ddd;
}

body.dark .review-input-title,
body.dark .review-input-content {
  background-color: #333;
  color: #fff;
  border-color: #555;
}

body.dark .review-container,
body.dark .review-post {
  background-color: #2a2a2a;
  border-color: #444;
}

body.dark .review-header {
  color: #ccc;
}

body.dark .profile-picture {
  border: 2px solid #555;
}



/*End Dark mode*/

/* Header */

.main-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 14px 20px;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  border: 4px solid #562D8F;
  padding: 10px 12px;
  margin: 0;
  line-height: 1.2;
}

.logo span {
  color: #562D8F;
}

.menu {
  display: none;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #562D8F;
}


/* Navigation */

.main-nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0;
}

.nav-link {
  text-decoration: none;
  margin-left: 20px;
  color: #000;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-link:hover,
.nav-link.active {
  color: #2f0c5a;
  font-weight: 600;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border: 1px solid rgba(102, 102, 102, 0.35);
  border-radius: 26px;
  padding: 6px 12px;
}

.search-input {
  display: flex;
  align-items: center;
  gap: 8px;
}

#input-box {
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  font-size: 14px;
  width: 100%;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button .fa-solid {
  color: #282828;
}

button .menu-icon {
  margin: 2vh;
}

.btn {
  padding: 8px 20px;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  transition: all 0.3s;
  font-weight: 500;
}

.btn-outline {
  border: 1px solid #2f0c5a;
  color: #2f0c5a;
  background-color: transparent;
}

.btn-outline:hover {
  background-color: #2f0c5a;
  color: #fff;
}


/* Rating part */

.title-rating-container {
  display: flex;
  flex-direction: column;
}

.anime-title {
  margin-left: 7vw;
}

.rating-value {
  font-weight: bold;
  margin: 1vh 0 0 7vw;
  color: rgb(102, 19, 203);
}

/* Content and details */

.detail-trailer-container {
  margin: 5vw;
  display: grid;
  gap: 3vw;
}

.detail-container,
.detail-categories {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.detail-title {
  font-weight: bold;
  color: rgb(102, 19, 203);
  margin-bottom: 1vh;
}

.plot {
  display: flex;
  flex-direction: column;
}

.trailer {
  width: 100%;
  max-width: 50vw;
  height: auto;
  aspect-ratio: 16 / 9;
}

/* Characterss */

.info-title {
  color: rgba(47, 12, 90, 1);
  margin: 7vh 0 0 4vw;
}

.character-container {
  margin: 2vh 4vw 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
}

.character-element {
  margin: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-img {
  width: 15vh;
}


/* Reviews */

.review-form {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.label-title,
.label-review {
  font-size: large;
  font-weight: 500;
}

.review-input-title,
.review-input-content {
  border: 3px solid #f0f0f0;
  border-radius: 12px;
  padding: 1vh;
  background-color: #fff;
  color: #000;
  width: 100%;
  max-width: 100%;
}

.review-submit-button {
  border-radius: 10px;
  background-color: #2f0c5a;
  padding: 2vh;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.review-submit-button:hover {
  background-color: #432c6b;
}

.review-container {
  margin: 3vh 4vw 0;
  background-color: #ffffff;
  border: 2px solid #DDD8E2;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  padding: 2vh;
}

.review-post {
  margin: 2vw;
  padding: 3vh;
  border-radius: 24px;
  border: 2px solid #DDD8E2;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 1vw;
}

.profile-picture {
  border-radius: 50%;
  max-width: 3vw;
}

/*footer style*/

.main-footer {
  background-color: #2f0c5a;
  margin-top: 205px;
  width: 100%;
  padding: 84px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #d3c3e4;
  font-size: 16px;
  font-weight: 400;
}

.footer-content {
  display: flex;
  width: 282px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.follow-text {
  text-align: center;
}

.social-icons {
  width: 180px;
  aspect-ratio: 5.29;
  object-fit: contain;
  margin-top: 26px;
  max-width: 100%;
}

.copyright {
  text-align: center;
  margin-top: 130px;
}



/*Responsive*/

@media (max-width: 1280px) {
  .detail-trailer-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .trailer {
    max-width: 90vw;
  }
}

@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .main-nav.open {
    display: flex;
  }

  .menu {
    display: block;
  }

  .nav-link {
    margin: 5px 0;
  }

  .user-actions {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
  }

  .search-bar {
    width: 100%;
  }

  #input-box {
    width: 100%;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}