.anime-title {
    margin-top: 5vw;
    margin-left: 7vw;
}

.divider {
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 4vw;
    margin-right: 4vw;
}

.detail-trailer-container {
    display: flex;
    margin: 5vw;
    gap: 10vw;
    align-items: center;
}

.detail-container {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.detail-categories {
    display: flex;
    gap: 1vh;
}

.detail-title {
    font-weight: bold;
    color: rgba(47, 12, 90, 1);
    margin-bottom: 1vh;
}

.plot {
    display: flex;
    flex-direction: column;
}

.trailer {
    /* make a size in this */
    width: 50vw;
    height: 30vw;
}

.info-title {
    color: rgba(47, 12, 90, 1);
    margin-left: 4vw;
}

.characters-container {
    margin-top: 2vh;
    margin-left: 4vw;
    margin-right: 4vw;
    display: flex;
    gap: 3vw;
}

.character-element {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-img {
    width: 15vh;
}

.reviews-container {
    display: flex;
}