a {
  /* text-decoration: none;
  color: inherit;
  font: inherit; */
  all: unset;
}

/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family:
    "Montserrat",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  color: #000000;
}

.discover-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Header styles */
.main-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  padding: 14px 41px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 20px;
}

.main-nav {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  transition: background 0.5s ease;
  margin-top: 20px;
}

/* LOGO */
.logo {
  font-size: 15px;
  font-family:
    Inter,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 700;
  border: 4px solid #562D8F;
  padding-top: 15px;
  padding-right: 8px;
  padding-left: 3px;
  text-align: left;
  margin-top: 12px;
}

.logo span {
  color: #562D8F;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  margin-top: 0rem;
  margin-left: 2rem;
  transition: color 0.3s ease;
}
.nav-link:hover{
  color: #2f0c5a;

}

.nav-link.active {
  font-weight: 600;
  color: #2f0c5a;
}

/* SEARCH BAR */

.user-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family:
    Poppins,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 400;
  flex-wrap: wrap;
  margin-top: -0.5rem;
}

.search-bar {
  border-radius: 26px;
  background-color: #f6f6f6;
  border: 1px solid rgba(102, 102, 102, 0.35);
  padding: 8px 16px;
  font-size: 12px;
  color: #666;
}

.search-input {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #f6f6f6;
}
 #input-box{
  flex: 1;
  height: 1.5rem;
  border: 0;
  outline:0;
  background-color: #f6f6f6;
 }

 button{
  background: transparent;
  border: 0;
  outline: 0;;
 }

 button .fa-solid{
  width: 1rem;
  color:#282828;
  font-size: 1.1rem;
  cursor: pointer;
 }

.language-selector {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #333;
  padding-left: 8px;
}

.dropdown-icon {
  width: 24px;
  aspect-ratio: 1;
  object-fit: contain;
}

.btn {
  border-radius: 8px;
  padding: 8px 26px;
  text-decoration: none;
  text-align: center;
  font-family:
    Poppins,
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  width: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s ease;
}

.btn:hover { 
  background: #2f0c5a;
  color: #ffffff; 
}

.btn-outline {
  border: 1px solid #2f0c5a;
  color: #2f0c5a;
}



/* Main content styles */
.content {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: normal;
  margin-top: 135px;
  width: 666px;
  max-width: 100%;
}

/* Anime card common styles */
.anime-card {
  margin-bottom: 80px;
}

.anime-header {
  display: flex;
  font-size: 22px;
  font-weight: 600;
  justify-content: space-between;
  margin-left: 45%;
}

.anime-title {
  align-self: start;
  font-size: 22px;
  font-weight: 600;
  margin-top: 2%;
}


.anime-description {
  font-size: 13px;
  font-weight: 500;
  margin-top: 10%;
  margin-left: 45%;
}

.anime-cover {
  width: 280px;
  /* margin-top: -155px; */
  max-width: 100%;
}

.review-button {
  margin-bottom: 20%;
  border-radius: 10px;
  background-color: #2f0c5a;
  padding: 19px 18px;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  top: -20px;
  margin-left: 5%;
  transition: background-color 0.5s;
}
.review-button:hover {
  color:#D3C3E4;
  background-color:#9281A7;
}

/* Footer styles */
.footer {
  background-color: #2f0c5a;
  display: flex;
  margin-top: 109px;
  padding: 84px 80px;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  color: #d3c3e4;
  font-weight: 400;
  justify-content: center;
}

.footer-content {
  display: flex;
  width: 282px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.footer-heading {
  font-size: 16px;
  font-weight: 400;
}

.social-icons {
  aspect-ratio: 5.29;
  object-fit: contain;
  object-position: center;
  width: 180px;
  margin-top: 26px;
  max-width: 100%;
}

.copyright {
  text-align: center;
  align-self: stretch;
  margin-top: 130px;
}

/* Animation */

