*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  body {
    background-color: #ffffff;
    font-family:
      "Montserrat",
      -apple-system,
      Roboto,
      Helvetica,
      sans-serif;
    color: #000000;
  }




/*Header*/

.header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.header-container {
  background-color: #ffffff;
  display: flex;
  width: 100%;
  padding: 29px 70px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header-content {
  display: flex;
  width: 698px;
  max-width: 100%;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-family:
    "Inter",
    -apple-system,
    Roboto,
    Helvetica,
    sans-serif;
  font-weight: 700;
}

.logo-highlight {
  color: #2f0c5a;
}

.main-nav {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-list {
  display: flex;
  align-items: stretch;
  gap: 70px;
  list-style-type: none;
  font-size: 16px;
  font-weight: 520;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}

/*Announcements*/

.container{
  width: min(90%, 1200px);
  margin: 0 auto;
  background-color:rgb(58, 2, 70);

}

.announcements{
  
  position: relative;
  background-image:url('img/wallpapers/solo-leveling.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  min-height: 50vh;
  padding: 3rem;
  border-radius: 10px;
}

.solo-leveling-announcement{

  max-width: 500px;
  background: rgba(253, 252, 252, 0.9); /* Optional: better text visibility */
  font-weight: 500;
  padding: 2rem;
  border-radius: 1rem;

}

.solo-leveling-announcement h1 {

  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  color: black;
}

.solo-leveling-announcement p {

  font-size: 0.75rem;
  margin-bottom: 1rem;
  color: black;

}

.rating{

  color: #f5b50a;

}

.announcements-actions{

  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 1rem;

}

.announcements-button{

  background-color: blueviolet;
  color: white;
  border: none;
  padding: 0.8rem 1.25rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 40%;

}

.announcements-button:hover {

  opacity: 0.4;
  background-color: black;

}

.add-to-list{
  margin-right: 10%;
  
}

.add-to-list:hover{

  background-color: #540b6478;
  border-radius: 100%;
  cursor: pointer;

}

.watchlist:hover{
  
  background-color: #540b6478;
  border-radius: 100%;
  cursor: pointer;


}



.anime-image img {
  width: 100%;
}


/* carousel structure */

.header-in-section{
  margin: 2rem 10% 1rem;
}
.carousel-container {
  position: relative;
  margin: 2rem auto;
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #3704457a;
}

.carousel-track-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  flex: 0 0 33.333%;
  padding: 2rem 1rem 0rem;
  text-align: center;
}

.carousel-slide img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.carousel-slide p {
  color: #1d022c;
  font-size: 1.2rem;
  margin:1rem auto;
  font-weight: 500;
}

.carousel-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem;
}

.carousel-btn img {
  width: 24px;
  height: 24px;
  filter: invert(100%)
  
}